*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #222;
}
h1{
  font-size: 2.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 25px;
  color: white;
}
.card{
  max-width: 600px;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 2px;
  font-size: 3rem;
}
.cards-container .buttons{
   margin-top: 30px;
}
.previous-button, .next-button{
  border: none;
  font-size: 1.3rem;
  border: 1px solid black;
  padding: 15px 35px;
  cursor: pointer;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.previous-button{
  margin-right: 50px;
}
.cards-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
@media (max-width: 320px){
  .card{
    height: 300px;
    font-size: 2.5rem;
  }
  .previous-button{
    margin-right: 20px;
  }
  .previous-button, .next-button{
    padding: 10px 25px;
  }
  h1{
    font-size: 2rem;
    margin-bottom: 15px;
  }
}